.favorite-bg {
  background-color: #ffeaea;
  transition: background-color 0.3s ease;
}
.favorite-msg {
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff4081;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.2);
  font-size: 16px;
  z-index: 9999;
  animation: fadeInOut 3s ease forwards;
}

@keyframes fadeInOut {
  0% { opacity: 0; top: 10px; }
  10% { opacity: 1; top: 20px; }
  90% { opacity: 1; top: 20px; }
  100% { opacity: 0; top: 0; }
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
:root {
    --header-height: 3rem;
    --first-color: #FFA07A; 
    --dark-color: #f46036;
    --dark-color-alt: #FFDAB9; 
    --white-color: #FFE4B5;
    --light-blue-color: #6D7EFF;
    --super-light-blue: #A0ABFF;
    --blue-color: #6D7EFF;
    --body-font: 'Montserrat', sans-serif; 
    --small-font-size: .813rem;
    --z-fixed: 100;
}
*, ::before, ::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
body {
    font-family: 'Montserrat', sans-serif;
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    background-color: var(--dark-color);
    margin: 0;
    padding: 0;
}
.lang-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .lang-btn {
    background-color: var(--blue-color);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.lang-btn:hover {
    background-color: #4359fd; 
}
.lang-btn:focus {
    outline: none;
}
.favourite-button:hover {
  background-color: #4359fd; 
}
.favourite-button {
    background-color: var(--blue-color);
    color: #fff;
    font-size: 1rem;
    border: none;
    border-radius: 50%; 
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    margin-left: 10px;
    align-items: center;
    justify-content: center;
}
nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  a {
    text-decoration: none;
  }
  .bd-grid {
    max-width: 1024px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }
  .header {
    width: 100%; 
    height: var(--header-height);
    position: fixed;
    top: 1rem; 
    left: 50%; 
    transform: translateX(-50%);
    padding: 0 1.5rem;
    background-color: var(--super-light-blue);
    z-index: var(--z-fixed);
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    border-radius: 5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  }
  .header__logo {
    color: #100260;
  }
  .header__toggle {
    font-size: 1.8rem;
    color: #100260;
    cursor: pointer;
  }
  .bubble {
    position: absolute;
    top: 180px;
    left: 650px;
  }
  .nav__content {
    height: 100%;
    -ms-grid-rows: max-content 1fr max-content;
        grid-template-rows: -webkit-max-content 1fr -webkit-max-content;
        grid-template-rows: max-content 1fr max-content;
    row-gap: 2rem;
  }
  .nav__close {
    position: absolute;
    right: 1.5rem;
    font-size: 1.5rem;
    padding: .25rem;
    background-color: var(--dark-color-alt);
    border-radius: 50%;
    cursor: pointer;
    color: #070D1F;
  }
  .nav__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 70px;
    height: 70px;
    background-color: white; 
    border-radius: 50%;
    overflow: hidden;
  }
  .nav__img img {
    width: 200%; 
    height: 100%; 
    object-fit: cover; 
  }
  .nav__name {
    display: block;
    color: #100260;
  }
  .nav__profesion {
    font-size: var(--small-font-size);
  }
  .nav__menu {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .nav__item {
    margin: 2.5rem 0;
  }
  .nav__link {
    color: #100260;
  }
  .nav__social {
    padding-top: .5rem;
  }
  .nav__social-icon {
    font-size: 1.5rem;
    color: var(--white-color);
    margin-right: 1rem;
  }
  .nav__social-icon:hover {
    color: #4359fd; 
  }
  .active {
    color: #4359fd; 
  }
  .dogs-header {
    background: #1A0E66;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    flex-wrap: wrap;
  }
  .text-block {
    margin-top: 50px;
  }
  .text-block h2{
    max-width: 200px;
  }
  .text-block p{
    max-width: 200px;
  }
  .dogs-header h2 {
    margin-bottom: 10px;
    font-family:  "Cormorant Unicase", serif;
    font-size: 30px;
  }
  .dogs-header p {
    font-size: 12px;
    line-height: 1.5;
  }
  .dog-image img {
    width: 250px; 
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: -15px; 
  }
  .cat-image img {
    width: 250px; 
    height: auto;
    display: block;
    object-fit: cover;
    margin-bottom: -13px; 
  }
  .dogs-section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 50px;
    padding: 20px;
    font-size: 25px;
    justify-content: center;      
    justify-items: center;         
  }
  .dog-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
  .cat-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
}
  .dog-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    width: 280px;
  }
  .dog-card img {
    width: 100%;
    height: 400px;
    object-fit: cover;
    display: block;
  }
  .dog-info {
    position: absolute;
    bottom: 15px;
    left: 0;
    width: 100%;
    padding: 0 15px;
    display: flex;
    justify-content: flex-start; 
    align-items: center;
    gap: 8px;
  }
  .dog-name,
  .dog-like {
    background-color: #1F1B99;
    color: white;
    font-weight: bold;
    padding: 8px 14px;
    border-radius: 999px;
  }
  .dog-name {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0;
    min-width: 0;
    max-width: 150px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
  }
  .dog-like i {
    cursor: pointer;
  }
  
.dropdown-container {
  display: flex; 
  justify-content: flex-end; 
  align-items: center; 
  padding: 0 1rem; 
  position: relative;
  top: 15px;
  right: 50px;
}
.dropdown-list {
  max-width: 250px; 
  height: 40px; 
  color: #FFA07A; 
  border: solid 1px #FFA07A; 
  border-radius: 5rem; 
  line-height: 40px; 
  text-align: center; 
  flex-shrink: 0;
  font-weight: 600; 
  font-size: 18px; 
  padding: 0 15px; 
  cursor: pointer;
  transition: all 0.3s ease; 
}
.dropdown-list:hover {
  background-color: #FFA07A; 
  color: white; 
}
.adoption-form-section {
  display: flex;
  flex-wrap: wrap;
  background-color: #1A0E66;
  color: white;
  padding: 20px 40px;
  gap: 40px;
  justify-content: center;
}
.text-container {
  max-width: 100%;
  height: 100px;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  background-color: #1A0E66;
  color: white;
  padding: 10px 40px;
}
.text-container h2 {
  font-size: 15px;
}
.text-container p {
  margin-top: -12px;
  font-size: 12px;
}
.form-container {
  flex: 1 1 300px;
  max-width: 500px;
  width: 100%;
}
.form-container h2 {
  font-size: 35px;
  margin-bottom: 10px;
}
.form-container p {
  font-size: 25px;
  margin-bottom: 20px;
} 
form input,
form textarea {
  width: 100%;
  padding: 14px;
  margin-bottom: 15px;
  border: none;
  border-radius: 10px;
  font-size: 13px;
}
form textarea {
  height: 120px;
}
form button {
  width: 100%;
  padding: 14px;
  background-color: #f85c2a;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s;
}
form button:hover {
  background-color: #e0471c;
}
.contact-info {
  flex: 1 1 280px;
  text-align: center;
  align-self: center;
}
.contact-info h3 {
  font-size: 22px;
  margin-bottom: 20px;
  font-weight: bold;
  line-height: 1.4;
  max-width: 700px;
}
.phone-btn {
  display: inline-block;
  padding: 16px 28px;
  background-color: #f85c2a;
  color: black;
  font-size: 15px;
  font-weight: bold;
  border-radius: 50px;
  text-decoration: none;
  transition: background 0.3s;
}
.phone-btn:hover {
  background-color: #e0471c;
}
.show-more {
  display: flex;
  justify-content: center; 
  align-items: center;
  padding: 1rem 0;
  position: relative;
  right: 0; 
}  
.show-more-btn {
  max-width: 250px; 
  height: 40px; 
  color: #FFA07A; 
  border: solid 1px #FFA07A; 
  border-radius: 5rem; 
  line-height: 40px; 
  text-align: center; 
  flex-shrink: 0;
  font-family: 'Montserrat', sans-serif; 
  background-color: transparent;
  font-weight: 600; 
  font-size: 11px; 
  padding: 0 15px; 
  cursor: pointer;
  transition: all 0.3s ease; 
}
.show-more-btn:hover {
  background-color: #FFA07A; 
  color: white; 
}
  .dog-card {
    display: none;
  }
  .dog-card.visible {
    display: block;
  }
  .charity-footer {
    background-color: #1E1E1E;
    color: #fff;
    padding: 40px 20px 70px;
    text-align: center;
    position: relative;
    z-index: 1;
  }
  .footer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
  }
  .footer-container img {
    width: 60px;
    border-radius: 50px;
  }
  .footer-text h2{
  font-size: 16px
  }
  .footer-links a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s ease;
  }
  .footer-links a:hover {
    color: #4359fd; 
  }
  .footer-logo,
  .footer-text {
  position: relative;
  z-index: 1;
  }
  .footer-content {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    flex-wrap: wrap;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
    text-align: center;
    font-weight: 100;
    line-height: 20px;
    font-size: 13px;
  }
  .footer-links li {
    margin: 5px 0;
  }
  .footer-contacts {
    font-size: 13px;
    text-align: center;
    font-weight: 100;
  }
  .footer-contacts p:first-child {
  margin-bottom: 20px; 
  }
  .footer-contacts a{
    color: white;
  }
    .footer-donate {
   margin-top: 25px;
 }
  .footer-donate .button {
    background-color: var(--light-blue-color);
    padding: 10px 20px;
    border: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    width: 280px;
  }
  .footer-donate{
    margin-top: 30px;
  }
  .footer-socials .social-icons {
    display: flex; 
    justify-content: space-around; 
  }
  .footer-socials p{
    margin-top: 30px;
    font-size: 15px;
    text-align: left;
  }
  .social-icons {
    display: flex; 
    justify-content: space-around; 
    background-color: var(--light-blue-color);
    border-radius: 30px; 
    padding: 10px;  
    width: 60px;  
    height: 60px;  
  }
  .social-icons img {
    width: 40px; 
    height: 40px; 
  }
  .social-icons-container {
    display: flex;  
    justify-content: left;  
    gap: 15px;
    width: auto;  
    padding: 0; 
  }
  .social-icons:hover{
    background-color: #4359fd; 
   }
  .footer-bottom {
    margin-top: 60px;
    font-size: 14px;
    opacity: 0.7;
    height: 45px;
  }
  .footer-donate .button:hover{
    background-color: #4359fd; 
    }
  .cookie{
   margin-top: 20px;
   text-decoration: none;
  }
  .cookie a{
     color: #fff; 
   }
  .cookie-policy-text:hover {
    text-decoration: underline;
  }
@media screen and (max-width: 768px) {
    .nav {
        position: fixed;
        top: -15px;
        left: -100%;
        color: var(--white-color);
        width: 80%;
        height: 100vh;
        padding: 1.5rem 0;
        z-index: var(--z-fixed);
        -webkit-transition: .5s;
        transition: .5s;
        background-color: #4359fd; 
        color: #100260;
      }
      .show {
        left: 0;
      }
  }
@media screen and (min-width: 468px) {
  .dogs-header {
    padding: 15px 40px;
  } 
  .dogs-header h2 {
   font-size: 35px;
  }
  .dogs-header p {
    font-size: 20px;
  }
  .text-block h2{
    max-width: 350px;
  }
  .text-block p{
    max-width: 350px;
  }
  .dog-image img {
    width: 300px; 
    margin-bottom: -15px;
  }
  .cat-image img {
    width: 300px; 
    margin-bottom: -15px;
  }
  .text-block {
    margin-top: 50px;
  }
    .dog-card img {
    width: 100%;
    height: 535px;
  }
     .dogs-section {
    padding: 40px;
   }
  .dog-card {
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  width: 400px;
  }
  .dog-name{
    max-width: 350px;
    text-align: center;
    font-size: 25px;
  } 
}
@media screen and (min-width: 480px) {
  .footer-donate .button {
    font-size: 18px;
  }
  .footer-socials p {
    margin-top: 60px;
    font-size: 22px;
  }
}
@media screen and (min-width: 630px) {
  .charity-footer {
    padding: 40px 20px ;
  }
}
@media screen and (min-width: 730px) {
  .cat-image img {
    margin-bottom: -120px;
  }
}
@media screen and (min-width: 768px) {
    :root {
      --normal-font-size: 1rem;
      --small-font-size: .875rem;
    }
    body {
      margin: 0;
    }
    .header {
      height: calc(var(--header-height) + 1rem);
      max-width: 95%;
    }
    .header__logo, .header__toggle {
      display: none;
    }
    .nav {
      width: 100%;
    }
    .nav__content {
      grid-template-columns: repeat(3, max-content);
      grid-template-rows: 1fr;
      column-gap: 1rem;
      justify-content: space-between;
  }
   .nav__close, .nav__profesion {
    display: none;
  }
  .nav__perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__img {
    width: 50px;
    height: 50px;
    margin-right: .5rem;
    margin-bottom: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .nav__item {
    margin: 0 .25rem;
  }
  .nav__link {
    padding: .5rem .8rem;
    border-radius: .25rem;
  }
  .nav__link:hover {
    background-color: var(--blue-color);
  }
  .active {
    background-color: var(--first-color);
    color: var(--white-color);
  }
  .adoption-form-section {
    padding: 40px 50px;
    gap: 40px;
  } 
  .text-container h2 {
    font-size: 25px;
  }
  .text-container p {
    margin-top: 5px;
    font-size: 18px;
  }
  .text-container {
    padding: 10px 50px;
  }
  form input,
  form textarea {
    font-size: 18px;
  } 
  .contact-info h3 {
      font-size: 28px;
    } 
    .phone-btn {
      font-size: 20px;
    }
  
}
@media (min-width: 920px) {
  .dogs-header {
    padding: 20px 40px;
  } 
  .dogs-header h2 {
   font-size: 50px;
  }
  .dogs-header p {
    font-size: 25px;
  }
  .text-block h2{
    max-width: 400px;
  }
  .text-block p{
    max-width: 400px;
  }
  .dog-image img {
    width: 400px; 
    margin-bottom: -20px;
  }
  .cat-image img {
    width: 400px; 
    margin-bottom: -240px;
  }
  .text-block {
    margin-top: 50px;
  }
  .charity-text h2 {
    font-size: 55px;
    font-weight: bold;
  }
  .charity-text p {
    font-size: 25px;
  }
  .footer-socials p{
    font-size: 22px;
  }
  .footer-donate .button {
    font-size: 20px;
  }
  .footer-donate{
    margin-top: 30px;
  }
  .footer-text h2{
    font-size: 28px;
  }
  .footer-links ul {
    list-style: none;
    padding: 0;
    text-align: left;
    font-weight: 100;
    line-height: 35px;
    font-size: 22px;
  }
  .footer-contacts {
    font-size: 22px;
    text-align: left;
  }
  .footer-contacts p:first-child {
    margin-bottom: 40px; 
  }
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (min-width: 1024px) {
.dogs-header {
  padding: 30px 80px;
} 
.dogs-header h2 {
 font-size: 60px;
}
.dogs-header p {
  font-size: 25px;
}
.text-block h2{
  max-width: 450px;
}
.text-block p{
  max-width: 450px;
}
.dog-image img {
  width: 500px; 
  margin-bottom: -30px;
}
.cat-image img {
  width: 400px; 
  margin-bottom: -270px;
}
.text-block {
  margin-top: 50px;
}
}
@media screen and (min-width: 1440px) {
.dogs-header {
  padding: 40px 100px;
} 
.dogs-header h2 {
 font-size: 100px;
}
.dogs-header p {
  font-size: 25px;
}
.text-block h2{
  max-width: 750px;
}
.text-block p{
  max-width: 600px;
}
  .dog-image img {
  width: 550px; 
  margin-bottom: -40px;
}
.cat-image img {
  width: 450px; 
  margin-bottom: -800px;
  margin-top: 45px;
}
  .text-block {
  margin-top: 50px;
}
.adoption-form-section {
  padding: 40px 90px;
  gap: 40px;
} 
.text-container h2 {
  font-size: 35px;
}
.text-container p {
  margin-top: -25px;
  font-size: 25px;
}
.text-container {
  padding: 10px 90px;
}
form input,
form textarea {
  font-size: 18px;
} 
.contact-info h3 {
    font-size: 50px;
  } 
  .phone-btn {
    font-size: 35px;
  }
}
@media screen and (min-width: 1440px) {

  .cat-image img {
    width: 800px;
    margin-top: -508px; 
    margin-left: 600px;
  } 
}
